# default group
* @pcdshub/sample-delivery-sme 

# language-specific group(s)
## TWINCAT files
*.tsproj @pcdshub/twincat-reviewers @pcdshub/sample-delivery-sme 
*.plcproj @pcdshub/twincat-reviewers @pcdshub/sample-delivery-sme 
*.tmc @pcdshub/twincat-reviewers @pcdshub/sample-delivery-sme 
*.tpr @pcdshub/twincat-reviewers @pcdshub/sample-delivery-sme 
*.xti @pcdshub/twincat-reviewers @pcdshub/sample-delivery-sme 
*.TcTTO @pcdshub/twincat-reviewers @pcdshub/sample-delivery-sme 
*.TcPOU @pcdshub/twincat-reviewers @pcdshub/sample-delivery-sme 
*.TcDUT @pcdshub/twincat-reviewers @pcdshub/sample-delivery-sme 
*.TcGVL @pcdshub/twincat-reviewers @pcdshub/sample-delivery-sme 
*.TcVis @pcdshub/twincat-reviewers @pcdshub/sample-delivery-sme 
*.TcVMO @pcdshub/twincat-reviewers @pcdshub/sample-delivery-sme 
*.TcGTLO @pcdshub/twincat-reviewers @pcdshub/sample-delivery-sme 

# github folder holds administrative files
.github/** @pcdshub/software-admin
